@import url("../src/assets/colors/Colors.css");
@import url("../src/assets/fonts/Fonts.css");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--grey2);
}

.container {
  width: 360px;
  height: 630px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.06), -1px 0px 4px rgba(0, 0, 0, 0.06),
    0px 4px 8px rgba(0, 0, 0, 0.12);
  background: var(--grey1);
}
